<div class="container pt-5">
    <div class="row">
        <h3 class="text-center"><p class="heading"><b>Our Project</b></p></h3>
    </div>
    <div class="row card-container">
        <div class="outer-card col-md-3">
            <div class=" my-card p-0">
                <img src="../../assets/our-project/1.a-square-home.jpg" class="image" width="250" height="270" alt="image">
            </div>
            <h2 class="text-center image-title mt-3"><b><strong>A SQUARE</strong></b></h2>
            <div class="text-center pt-2">
                <button class="dark-button mb-2">Download Brouchure</button><br>
                <a class="pointer" (click)="goToLink('https://maps.google.com/maps?q=21.1233344%2C79.0598007&z=17&hl=en')">View Project Location</a>
            </div>
        </div>

        <div class="outer-card col-md-3">
            <div class="my-card p-0">
                <img src="../../assets/our-project/2.adisun-square-home.jpg" class="image" width="250" height="270" alt="image">
            </div>
            <h2 class="text-center image-title mt-3"><b><strong>ADISUN SQUARE</strong></b></h2>
            <div class="text-center pt-2">
                <button class="dark-button mb-2">Download Brouchure</button><br>
                <a class="pointer" (click)="goToLink('https://maps.google.com/maps?q=21.1233344%2C79.0598007&z=17&hl=en')">View Project Location</a>
            </div>
        </div>
        <div class="outer-card col-md-3">
            <div class="my-card p-0">
                <img src="../../assets/our-project/3.adisun-trade-home.jpg" class="image" width="250" height="270" alt="image">
            </div>
            <h2 class="text-center image-title mt-3"><b><strong>ADISUN TRADE CENTRE</strong></b></h2>
            <div class="text-center pt-2">
                <button class="dark-button mb-2">Download Brouchure</button><br>
                <a class="pointer" (click)="goToLink('https://maps.google.com/maps?q=21.1233344%2C79.0598007&z=17&hl=en')">View Project Location</a>
            </div>
        </div>
        <div class="outer-card col-md-3">
            <div class="col-md-3 my-card p-0">
                <img src="../../assets/our-project/4.adisun-avenue.jpg" class="image" width="250" height="270" alt="image">
            </div>
            <h2 class="text-center image-title mt-3"><b><strong>ADISUN AVENUE</strong></b></h2>
            <div class="text-center pt-2">
                <button class="dark-button mb-2">Download Brouchure</button><br>
                <a class="pointer" (click)="goToLink('https://maps.google.com/maps?q=21.1233344%2C79.0598007&z=17&hl=en')">View Project Location</a>
            </div>
        </div>
    </div>

    <div class="row card-container">
        <div class="outer-card col-md-3">
            <div class="my-card p-0">
                <img src="../../assets/our-project/5.atharva-home.jpg" class="image" width="250" height="270" alt="image">
            </div>
            <h2 class="text-center image-title mt-3"><b><strong>ATHARVA RESIDENCES</strong></b></h2>
            <div class="text-center pt-2">
                <button class="dark-button mb-2">Download Brouchure</button><br>
                <a class="pointer" (click)="goToLink('https://maps.google.com/maps?q=21.1233344%2C79.0598007&z=17&hl=en')">View Project Location</a>
            </div>
        </div>
        <div class="outer-card col-md-3">
            <div class="my-card p-0">
                <img src="../../assets/our-project/6.adisun-bliss-home_bk2.jpg" class="image" width="250" height="270" alt="image">
            </div>
            <h2 class="text-center image-title mt-3"><b><strong>ADISUN BLISS</strong></b></h2>
            <div class="text-center pt-2">
                <button class="dark-button mb-2">Download Brouchure</button><br>
                <a class="pointer" (click)="goToLink('https://maps.google.com/maps?q=21.1233344%2C79.0598007&z=17&hl=en')">View Project Location</a>
            </div>
        </div>
        <div class="outer-card col-md-3">
            <div class="my-card p-0">
                <img src="../../assets/our-project/7.adison-elite-home.jpg" class="image" width="250" height="270" alt="image">
            </div>
            <h2 class="text-center image-title mt-3"><b><strong>ADISUN ELITE</strong></b></h2>
            <div class="text-center pt-2">
                <button class="dark-button mb-2">Download Brouchure</button><br>
                <a class="pointer" (click)="goToLink('https://maps.google.com/maps?q=21.1233344%2C79.0598007&z=17&hl=en')">View Project Location</a>
            </div>
        </div>
        <div class="outer-card col-md-3">
            <div class="my-card p-0">
                <img src="../../assets/our-project/8.adisun-terraces-home.jpg" class="image" width="250" height="270" alt="image">
            </div>
            <h2 class="text-center image-title mt-3"><b><strong>ADISUN TERRACES</strong></b></h2>
            <div class="text-center pt-2">
                <button class="dark-button mb-2">Download Brouchure</button><br>
                <a class="pointer" (click)="goToLink('https://maps.google.com/maps?q=21.1233344%2C79.0598007&z=17&hl=en')">View Project Location</a>
            </div>
        </div>
    </div>
</div>