<div class="wrapper">
    <div class="container-fluid w-100  text-center">
        <div class="row">
            <div class="col-md-6 d-flex justify-content-end text-center my-img">
                <img src="../../assets/our-awards.jpeg" width="300"   class="responsive" alt="Our Awards">
            </div>
            <div class="col-md-6 our-awards text-center">
                <h2 class="mb-4 heading"><strong><b>Our Awards</b></strong></h2>
                <p>The project <b>A-Square, Abhyankar nagar, Nagpur</b> received ICI-Nagpur-UltraTech Award for Outstanding Concrete Structure of Vidarbha 2016 under <b>Residential Flat Scheme</b>.</p>
            </div>
        </div>
    </div>
</div>