<div class="container-fluid">
    <div class="row">
        <h1 class="text-center heading mt-4"><b>Our Clients</b></h1>
    </div>
    <div class="row">
        <div class="slider mt-5 mb-5">
            <div class="slide-track">
                <div class="slide">
                    <img src="../../assets/our-clients/1.jpg" height="100" width="250" alt="" />
                </div>
                <div class="slide">
                    <img src="../../assets/our-clients/2.jpg" height="100" width="250" alt="" />
                </div>
                <div class="slide">
                    <img src="../../assets/our-clients/3.jpg" height="100" width="250" alt="" />
                </div>
                <div class="slide">
                    <img src="../../assets/our-clients/4.jpg" height="100" width="250" alt="" />
                </div>
                <div class="slide">
                    <img src="../../assets/our-clients/5.jpg" height="100" width="250" alt="" />
                </div>
                <div class="slide">
                    <img src="../../assets/our-clients/6.jpg" height="100" width="250" alt="" />
                </div>
                <div class="slide">
                    <img src="../../assets/our-clients/7.jpg" height="100" width="250" alt="" />
                </div>
                <div class="slide">
                    <img src="../../assets/our-clients/1.jpg" height="100" width="250" alt="" />
                </div>
                <div class="slide">
                    <img src="../../assets/our-clients/2.jpg" height="100" width="250" alt="" />
                </div>
                <div class="slide">
                    <img src="../../assets/our-clients/3.jpg" height="100" width="250" alt="" />
                </div>
                <div class="slide">
                    <img src="../../assets/our-clients/4.jpg" height="100" width="250" alt="" />
                </div>
                <div class="slide">
                    <img src="../../assets/our-clients/5.jpg" height="100" width="250" alt="" />
                </div>
                <div class="slide">
                    <img src="../../assets/our-clients/6.jpg" height="100" width="250" alt="" />
                </div>
                <div class="slide">
                    <img src="../../assets/our-clients/7.jpg" height="100" width="250" alt="" />
                </div>
            </div>
        </div>
    </div>
    <div class="row secondary mb-2">
        <div class="col-12 text-center mt-5 pt-3">
            <h1><b>For Booking & Enquiries, Call + 91-8888 6666 88</b></h1>
            <p>We will be happy to assist you in all possible ways</p>
        </div>
    </div>
</div>