<div class="container mt-5">
    <div class="row">
            <img class="col-md-6" src="../../assets/3.png" alt="image">
        <div class="col-md-6 p-2">
            <h2 class="mx-auto"><p class="heading w-75 text-center"><b>About Adisun Buildcon Pvt. Ltd.</b></p></h2>
            <p>A young organization incorporated in 2009 and promoted by Aditya Salankar, a ﬁrst generation young entrepreneur with a strong academic background and rich experience in India’s largest infrastructure company. A string of highly successful projects both in the luxury residences and commercial space as a result of intense passion reinforced with exceptional domain expertise. Aditya Salankar, MSc. Project Management (Leeds Metropolitan University, England) B.E. Civil, has already completed projects in the nearby areas such as A square at Shradhanand Peth square , Adisun Square at Abhyankar Nagar Square , Adisun Trade Center opposite Dharampeth Science Metro Station , Atharva at Subhash Nagar , Adisun avenue at Subhash Nagar , Adisun Bliss at Swalambi Nagar, Adisun Terraces at Manish Nagar and many more. Quality, integrity, timely deliveries and highest level of customer satisfaction have been its differentiating values.</p>
        </div>
    </div>
</div>
<div class="container-fluid pt-5">
    <div class="row gray-box">
        <img src="../../assets/Adisun-MAP.jpg" class="responsive" height="90" alt="Adisun-MAP">
    </div>
</div>